<a href="https://colab.research.google.com/github/taaha3244/python-libraries/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What will the following code output and why?

In [ ]:
x = 10
y = 20
if x < y:
    print("x is less than y")
else:
    print("x is greater than or equal to y")

2. What does the following code do?

In [ ]:
for i in range(3, 8):
    print(i)

In [ ]:
for i , value in enumerate(range(9)):
    print(f"index is {i} value is: {value*5}")

3. Identify the error in the following code:

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

4. Write a Python script using a while loop that sums all numbers from 1 to 10.

In [ ]:
total = 0
i = 1
while i <= 10:
    total += i
    i += 1
print(total)

5. Predict the output of the following function calls if the function add_numbers is defined as below:

In [ ]:
def add_numbers(a, b=5):
    return a + b
print(add_numbers(3))
print(add_numbers(3, 3))

6. What will be the output of this code and why?

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    if fruit == 'banana':
        continue
    print(fruit)

7. Correct and optimize the following code that is intended to print "Even" if all numbers in the list are even:

In [16]:
numbers = [2, 4, 6, 8, 10]
all_even = True
for number in numbers:
    if number % 2 != 0:
        all_even = False
if all_even:
    print("Even")
else:
  print('Some are Odd')

Even

8. What does the following code do?

Answer: This code defines a function multiply that takes two arguments and returns their product. It then calls this function with arguments 2 and 3, storing the result in z and printing it, which will be 6.

In [ ]:
def multiply(x, y):
    return x * y
z = multiply(2, 3)
print(z)

9. Using a lambda function, write a one-liner to square a number. Call this lambda with the number 8 and print the result.

In [ ]:
square = lambda x: x ** 2
print(square(8))

10. Explain and predict the output of the following nested loop code:

In [18]:
for i in range(1, 4):
    for j in range(i):
        print(i)
    print()

1

2
2

3
3
3

Explain the use of the while loop in the following code and predict the output:
Answer: This code uses a while loop to print numbers from 0 to 4. The else block is executed after the loop finishes, printing "Done". The output will be:

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1
else:
    print("Done")

12. What does the break statement do in the following code snippet?

Answer: The break statement terminates the loop when num equals 7. Numbers from 0 to 6 will be printed.

In [ ]:
for num in range(10):
    if num == 7:
        break
    print(num)

13. Using a continue statement, write a loop that prints all numbers from 1 to 10 except for 5.

In [ ]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

14. Describe and predict the output for this nested loop code:

In [2]:
for outer in range(3):
    for inner in range(100, 103):
        print(outer, inner)

0 100
0 101
0 102
1 100
1 101
1 102
2 100
2 101
2 102

15. Write a function that checks if a given word is a palindrome. Use this function to check the word "radar".

In [3]:
def is_palindrome(word):
    return word == word[::-1]
print(is_palindrome("radar"))

True

16. Using a while loop, create a program that sums all numbers entered by the user until they enter 'stop'.

In [7]:
total = 0
while True:
    s = input("Enter a number or 'stop' to finish: ")
    if s == 'stop':
        break
    total += int(s)
print("Total sum:", total)

KeyboardInterrupt: Interrupted by user

17. Write a Python function max_of_three that returns the largest of three numbers. Test this function with numbers 4, 7, and 2.

In [ ]:
def max_of_three(a, b, c):
    return max(a, b, c)
print(max_of_three(4, 7, 2))

Question
At a carnival, people are charged entry based on their age as follows:

Children under 4 years old enter for free.

Children aged 4 to 12 years are charged $10.

Teenagers and adults from 13 to 64 years old are charged $20.

Seniors aged 65 and above are charged $15.

In [1]:
# Taking age as input from the user
age = int(input("Enter your age: "))

# Determining the entry fee based on age
if age < 4:
    print("Your entry is free!")
elif age <= 12:
    print("Your entry fee is $10.")
elif age <= 64:
    print("Your entry fee is $20.")
else:
    print("Your entry fee is $15.")

Enter your age: 34
Your entry fee is $20.

In [2]:
def generate_table(number, limit):
    """
    Generates and prints the multiplication table for a given number up to a specified limit.

    Args:
    number (int): The base number for the multiplication table.
    limit (int): The maximum multiple to which the table should go.

    Returns:
    None
    """
    print(f"Multiplication Table for {number}")
    for i in range(1, limit + 1):
        print(f"{number} x {i} = {number * i}")
    print("-" * 20)  # Print a separator line after the table

# Example usage:
generate_table(5, 10)  # Generates the multiplication table for 5 up to 10 times.

Multiplication Table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
--------------------

In [6]:
a=[1,2,3,4,6,7]

for i in range(len(a)):
  print(a[i])

1
2
3
4
6
7

In [7]:
empyt=[]
x=0

for i in range(0,9):
  empyt.append(x)
  x+=1
print(empyt)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
for i in range(1, 5 + 1):
        for j in range(i):
            print('*', end='')  # Print stars, end='' keeps the cursor in the same line
        print()  # After each inner loop, print a newline to move to the next row

*
**
***
****
*****

In [13]:
x=1
def foo():
  x=11
  y=12
  print(f"x is equal to {x}")
  print(f"y is equal to {y}")

In [14]:
foo()

x is equal to 11
y is equal to 12