<a href="https://colab.research.google.com/github/taaha3244/python-libraries/blob/main/python_essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x = 10
y = 20

if x < y:
  print("x is less than y")
else:
  print("y is less than x")

x is less than y

In [6]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [15]:
for value in range(1,10):
  print(f"index is none, value is {value * 5}")

index is none, value is 5
index is none, value is 10
index is none, value is 15
index is none, value is 20
index is none, value is 25
index is none, value is 30
index is none, value is 35
index is none, value is 40
index is none, value is 45

In [8]:
atom=7
camp=8

print(f"The value of atom is : {atom}")

The value of atom is : 7

In [9]:
val = 'Geeks'
print(f"{val}for{val} is a portal for {val}.")

GeeksforGeeks is a portal for Geeks.

In [ ]:
i=1
while i < 6 :
  print(i)
  if i==3:
      continue
  i +=1

In [ ]:
a while loop that sums 0 to 10

In [25]:
i = 1
sum = 0
while i < 11:
  sum +=i

  i+= 1
print(sum)

55

In [26]:
def add_numbers(a, b=5):
  return a + b

In [28]:
print(add_numbers(3,3))

6

In [29]:
fruits=['apple','banana','cherry']
for fruit in fruits:
  if fruit=='banana':
    continue
  print(fruit)

apple
cherry

In [31]:
for i in range(1,4):
  for j in range(i):
    print(i,end='')
  print()

1
22
333

In [33]:
for num in range(10):
  if num == 7:
    continue
  print(num)

0
1
2
3
4
5
6
8
9

In [35]:
for outer in range(3):
  for inner in range(100,105):
    print(outer,inner)

0 100
0 101
0 102
0 103
0 104
1 100
1 101
1 102
1 103
1 104
2 100
2 101
2 102
2 103
2 104

In [59]:
alpha='i love pakistan'

In [60]:
alpha[::-1]

'natsikap evol i'

In [45]:
def is_palindrome(word):
  return word == word[::-1]

In [57]:
is_palindrome('i love pakistan')

False

Question At a carnival, people are charged entry based on their age as follows:

Children under 4 years old enter for free.

Children aged 4 to 12 years are charged $10.

Teenagers and adults from 13 to 64 years old are charged $20.

Seniors aged 65 and above are charged $15.

In [81]:
age=int(input("enter your age"))
if age<10:
  print('less than 10')
elif age<15:
  print('less than 15')
elif age<20:
  print('less than 20')
else:
  print('Greater than 20')

enter your age17
less than 20

In [68]:
beta='i love pakistan'

In [69]:
words=beta.split()
words

['i', 'love', 'pakistan']

AttributeError: 'NoneType' object has no attribute 'reverse'

In [71]:
def reverse_sentence(sentence):
  words = sentence.split()  # Split the sentence into words

  if len(words) > 1 and words[0] == "I":  # Check for "I" at the beginning
    return " ".join([words[-1]] + words[1:-1] + [words[0]])  # Preserve "I"
  else:
    return " ".join(words[::-1])  # Reverse all words otherwise

In [72]:
reverse_sentence('I love pakistan')

'pakistan love I'

In [73]:
def reverse(string):
  words=string.split()
  words.reverse()
  reversed_string=' '.join(words)
  return reversed_string

In [74]:
reverse('We love Pakistan')

'Pakistan love We'

In [75]:
age = int(input("Enter your age: "))
if age >= 4 and age <= 12:
  print("Pay $10")
elif age > 12 and age <= 50:
  print("Pay $25")
else:
  print("No entry fee")

Enter your age: 44
Pay $25